.cv-page {
    min-width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    top: 3em;
    position: absolute;
    left: 0.5em;
}

p.education-body {
    font-weight: normal;
    font-size: medium;
}

p.education-experience-title {
    font-size: smaller;
}